.home {
  text-align: center;
  padding: 1rem; /* Reduce padding for smaller screens */
}

.home h1 {
  font-size: 2rem; /* Adjust font size for smaller screens */
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home__links {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Stack buttons vertically */
  gap: 0.5rem; /* Reduce gap between buttons */
}

.home__button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem; /* Adjust font size */
  color: white;
  background-color: #646cff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%; /* Make buttons full-width on mobile */
}

.home__button:hover {
  background-color: #535bf2;
}

.random-game {
  text-align: center;
  margin-top: 20px;
}

.random-game__cover {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .home {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}